name: Link Checker

on:
  workflow_call:
  workflow_dispatch:

jobs:
  linkcheck:
    name: Run linkcheck
    permissions: {}
    runs-on: ubuntu-latest
    steps:
    - name: set up dart
      uses: dart-lang/setup-dart@v1
    - name: set up linkcheck
      run: |
        : install linkcheck
        dart pub global activate linkcheck
    - name: check links
      run: |
        : Link Checker
        (
          echo "# Link Checker ($site)"
          echo
          linkcheck "$site" |
          perl -pe '
            s/^([A-Z]\w+)\W+?(\s*)$/## $1$2/;
            s!^(https?://)!### $1!;
            s/\s{3,}/- /;
          ' |
          tee /dev/stderr
        ) >> "$GITHUB_STEP_SUMMARY"
      env:
        site: ${{ vars.gh_pages_site || 'docs.check-spelling.dev' }}
