name: Link Checker

on:
  workflow_call:
  workflow_dispatch:

jobs:
  link-checker:
    name: Run link checker
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - name: set up link checker
      run: |
        python3 -m venv linkchecker
        . linkchecker/bin/activate
        pip3 install linkchecker
    - name: check links
      env:
        site: ${{ vars.gh_pages_site || 'docs.check-spelling.dev' }}
      run: |
        : Link Checker
        (
          echo "# Link Checker ($site)"
          echo
          ./linkchecker/bin/linkchecker "https://$site/" |
          perl -e '
          $m="```\n";
          print $m;
          my $summary = "";
          while (<>) {
            if (/^Start checking/) {
              $state = 1;
              print STDERR;
              next;
            }
            if (/^Statistics:/) {
              $state = 2;
              print STDERR;
              next;
            }
            if ($state == 1) {
              print;
            } elsif ($state == 2 && /found/) {
              $summary = $_;
              print STDERR;
            } else {
              print STDERR;
            }
          }
          print $m;
          print "\n";
          print $summary;
          '
        ) >> "$GITHUB_STEP_SUMMARY"
